<div id="hero" style="  background: url('./assets/img/hero.png') top center;">
  <div class="hero-container">
    <h1>Handig Joh</h1>
    <h2>Agrarische producten en gereedschap</h2>
  </div>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product1</h5>
        <p class="card-text">Desc1</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product2</h5>
        <p class="card-text">Desc2</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product3</h5>
        <p class="card-text">Desc3</p>      </div>
    </div>
  </div>
</div>
